---
import Song from "../Song.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Drews Endless Archive</title>
	</head>
	<body class="p-3" >
		<h1 class="font-bold text-xl">Drew's Endless Archive!</h1>
		<Song title="Entire Album" url="https://files.drewh.net/api/public/dl/AbT9BVje/Endless/entire.mp3" />
		<hr>
		<Song title="At Your Best" url="https://files.drewh.net/api/public/dl/82cm5p5m/Endless/At%20Your%20Best%20(You%20Are%20Love).mp3"/>
		<Song title="Alabama" url="https://files.drewh.net/api/public/dl/a_N--4sq/Endless/Alabama.mp3"/>
		<Song title="Mine" url="https://files.drewh.net/api/public/dl/1XplFTh2/Endless/Mine.mp3"/>
		<Song title="UNITY" url="https://files.drewh.net/api/public/dl/HGAxG1FV/Endless/UNITY.mp3"/>
		<Song title="A Certain Way" url="https://files.drewh.net/api/public/dl/MsQBKib2/Endless/A%20Certain%20Way.mp3"/>
		<Song title="Comme Des Garcons" url="https://files.drewh.net/api/public/dl/GYr-UQ7e/Endless/Comme%20Des%20Garc%CC%A7ons.mp3"/>
		<Song title="Xenons" url="https://files.drewh.net/api/public/dl/bOwN1DPW/Endless/Xenons.mp3"/>
		<Song title="Honeybaby" url="https://files.drewh.net/api/public/dl/lB3kODpi/Endless/Honeybaby.mp3"/>
		<Song title="Wither" url="https://files.drewh.net/api/public/dl/F14wF2Zz/Endless/Wither.mp3"/>
		<Song title="Hublots" url="https://files.drewh.net/api/public/dl/PVFeZa7v/Endless/Hublots.mp3"/>
		<Song title="In Here Somewhere" url="https://files.drewh.net/api/public/dl/ozwoh1A3/Endless/In%20Here%20Somewhere.mp3"/>
		<Song title="Slide On Me" url="https://files.drewh.net/api/public/dl/kdeHy6w0/Endless/Slide%20On%20Me.mp3"/>
		<Song title="Sideways" url="https://files.drewh.net/api/public/dl/iskYv2Zh/Endless/Sideways.mp3"/>
		<Song title="Florida" url="https://files.drewh.net/api/public/dl/LDLyenmF/Endless/Florida.mp3"/>
		<Song title="Rushes" url="https://files.drewh.net/api/public/dl/HYBUI9LT/Endless/Rushes.mp3"/>
		<Song title="Rushes To" url="https://files.drewh.net/api/public/dl/Y2-ypioO/Endless/Rushes%20To.mp3"/>
		<Song title="Higgs" url="https://files.drewh.net/api/public/dl/G25p49NI/Endless/Higgs.mp3"/>
		<Song title="Mitsubushi Sony" url="https://files.drewh.net/api/public/dl/3h_BQPDR/Endless/Mitsubishi%20Sony.mp3"/>
	</body>
</html>
